{
		"AppId": "com.sap.mk.otherdemo",
		"DestinationName": "com.sap.edm.sampleservice.v2",
		"OfflineEnabled": true,
		"LanguageURLParam": "sap-language",
		"OnlineOptions": {},
		"PathSuffix": "",
		"SourceType": "Mobile"
}