{
    "DestinationName": "com.sap.edm.sampleservice.v2",
    "OfflineEnabled": true,
    "LanguageURLParam": "",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile"
}