{
    "DestinationName": "com.sap.edm.sampleservice.v4",
    "OfflineEnabled": true,
    "LanguageURLParam": "sap-language",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}
